@using PagedList
@using PagedList.Mvc
@model IPagedList<MvcBlog.Models.Makale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card col-md-8">
    @foreach (var item in Model)
    {
        <article class="col-sm-12 py-3">
            <div class="card-group glyphicon glyphicon-time text-muted">
                Posted on @string.Format("{0: MMMM yyyy}", item.Tarih) by
                <hr />
                <img src="@item.Uye.Foto" class="img-responsive" width="75" />
                <a href="/Home/UyeProfil/@item.Uye.Uyeid">@item.Uye.KullaniciAdi</a>

                <span class="glyphicon glyphicon-tags"> @item.Etikets.Count  </span>

            </div>
            <img class="card-img-top" src="@item.Foto" alt="@item.Baslik">
            <div class="card-body">
                <h2 class="card-title"><a href="/Home/MakaleDetay/@item.Makaleid">@item.Baslik</a></h2>
                @if (item.Icerik.Length > 150)
                {
                    <p class="card-text"> @Html.Raw(item.Icerik.Substring(0, 150))... </p>
                }
                else
                {
                    <p class="card-text"> @Html.Raw(item.Icerik)</p>
                }

                <a href="/Home/MakaleDetay/@item.Makaleid" class="btn btn-primary">Devamını oku &rarr;</a>
            </div>

        </article>
    }
    <div class="row">
        <div class="col-md-8 text-center">
            <div class="pagedList pagination" >
                @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.Classic)
            </div>
        </div>
    </div>
</div>

